@import 'tailwindcss';

@font-face {
  font-family: debussy;
  src:
    url('/assets/fonts/hinted-Debussy.woff2') format('woff2'),
    url('/assets/fonts/hinted-Debussy.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-debussy: "debussy", sans-serif;
}

  img {
    @apply max-h-64 object-contain;
  }

