{{page-title "Projects and Works"}}

<h1 class="text-2xl">datafruits.fm</h1>
<p>Community run online radio station and interactive streaming experience, since 2012</p>
<ul>
  <li>online audio/video streams (dj mixes) with interactive chatroom</li>
  <li>2d and 3d graphics using canvas (pixi.js) and webGL (three.js)</li>
  <li>online music making contests with RPG-like battle system(shrimpo)</li>
  <li>forums, wiki</li>
</ul>

<h1 class="text-2xl">burgerzone deluxe meal</h1>
<p>2d platformer with pre-rendered 3d graphics.</p>

You can check out the <a href="https://freedrull.itch.io/burgerzone-deluxe-meal-prge-2025-demo">demo.</a>