{{page-title "Projects and Works"}}

<h1>datafruits.fm</h1>
<p>Community run online radio station and interactive streaming experience</p>
<ul>
  <li>online audio/video streams (dj mixes) with interactive chatroom</li>
  <li>2d and 3d graphics using canvas (pixi.js) and webGL (three.js)</li>
  <li>online music making contests with RPG-like battle system(shrimpo)</li>
  <li>forums, wiki</li>
</ul>

<h1>burgerzone deluxe meal</h1>
<p>2d platformer with pre-rendered 3d graphics.</p>